
*   {
    margin: 0;
    padding: 0;
    }
  .head{
      background-color:#111111;
      text-align: center;
      padding: 20px;
      color: white;
       }
    
    
    .body{
        background-color: grey;
         }
    
    
    
    
    .footer {
      background-color:grey;
      text-align: center;
      width: 100vw;
      height: 80vh;
            }
    