.item{
    border: 5px solid black;

}
.container{
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap:10px;
    grid-row-gap: 10px;
    
}



.item{
    display:flex;
    justify-content: center;
    background-color: red;
}   
.item1{
    
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.item2{
    border: 1px solid yellow;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
.item3{
    border: 1px solid green;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: green;

}
.item4{
    border: 1px solid blue;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.item5{
    border: 1px solid yellow;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: yellow
}
.item6{
    border: 1px solid green;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color:green;
}
.item7{
    border: 1px solid chocolate;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color:chocolate;
}
.item8{
    border: 1px solid chocolate;
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color:chocolate}
.item9{
    border: 1px solid white;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: white;
}
.item10{
    border: 1px solid black;
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: white
}

.item11{
    border: 1px solid black;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color:white;
}




@media screen and (max-width: 400px){
    .container{
        width: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .item1{
        
        align-items: flex-start;
        

 
    }
    .Dois{
        align-items: flex-start;

    }
    .Três{
        align-items: flex-start;

    }
    .Quatro{
        align-items: flex-start;

    }
    .Cinco{
        align-items: flex-start;
    }
    .Seis{
        align-items: flex-start;
    }
    .Sete{
        align-items: flex-start;
    }
    .Oito{
        align-items: flex-start;
    }
    .Nove{
        align-items: flex-start;
    }
    .Dez{
        align-items: flex-start;
    }
    .Onze{
        align-items: flex-start;
    }
    }
